@model ObjectsPrintModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@page {
        size: landscape;
        margin: 0.2cm;
    }

    table {
        border-collapse: collapse;
        font-size: 12px;
        text-align: center;
    }

    table, th, td {
        border: 0.5px solid black;
        text-align: center;
    }
</style>


<table>
    <thead>
        <tr>
            <th>Номер</th>
            <th>Маршрут</th>

            @if (Model.ShowProjects)
            {
                <th>Перевозчик</th>
            }

            @if (Model.ShowProviders)
            {
                <th>Установщик</th>
            }

            <th>Время посл. отклика</th>
            <th>Время посл. остановки</th>

            @if (Model.ShowBlocks)
            {
                <th>Телефон (IMEI)</th>
                <th>Блок</th>
            }

            <th>Марка ТС</th>
            <th>Тип ТС</th>
            <th>Год выпуска</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model.Vehicles)
        {
            <tr>
                <td>@vehicle.Name</td>
                <td>@(vehicle.Route?.Name ?? Utils.NaString)</td>

                @if (Model.ShowProjects)
                {
                    <td>@(vehicle.Project?.Name ?? Utils.NaString)</td>
                }

                @if (Model.ShowProviders)
                {
                    <td>@(vehicle.Provider?.Name ?? Utils.NaString)</td>
                }

                <td>@vehicle.LastTime.ToDateTimeString()</td>
                <td>@vehicle.LastStationTime.ToDateTimeString()</td>

                @if (Model.ShowBlocks)
                {
                    <td>@(vehicle.Phone > 0 ? vehicle.Phone.ToString() : Utils.NaString)</td>
                    <td>
                        @if (vehicle.Block != null)
                        {
                            @vehicle.Block.BlockNumber
                            @vehicle.Block.BlockType?.Name
                        }
                        else
                        {
                            @Utils.NaString
                        }
                    </td>
                }

                <td>@(vehicle.CarBrand?.Name ?? Utils.NaString)</td>
                <td>@(vehicle.CarBrand?.CarType?.Name ?? Utils.NaString)</td>
                <td>@(vehicle.YearRelease > 0 ? vehicle.YearRelease.ToString() : Utils.NaString)</td>
                <td>@vehicle.StatusName</td>
            </tr>
        }
    </tbody>
</table>