@model ObjectsPrintModel

@{
    Layout = "~/Templates/Shared/_Layout.cshtml";
}

<style>
    * {
        font-size: @(Model.FontSize)px;
    }

    @@page {
        size: landscape;
        margin: 0.2cm 0.2cm 0.6cm 0.2cm;

        @@bottom-center {
            font-size: 12px;
            content: counter(page);
        }
    }

    table {
        border-collapse: collapse;
        text-align: center;
        width: 100%;
    }

    table, th, td {
        border: 0.5px solid black;
        text-align: center;
    }
</style>

<div style="margin-bottom: 15px">
    @if (!string.IsNullOrEmpty(Model.PlateNumber))
    {
        <div><b>Номер ТС:</b> @Model.PlateNumber</div>
    }
    @if (!string.IsNullOrEmpty(Model.RouteName))
    {
        <div><b>Маршрут:</b> @Model.RouteName</div>
    }
    @if (Model.Project != null)
    {
        <div><b>Перевозчик:</b> @Model.Project.Name</div>
    }
    @if (!string.IsNullOrEmpty(Model.BlockNumber))
    {
        <div><b>Номер Блока / Телефон (IMEI):</b> @Model.BlockNumber</div>
    }
    @if (Model.Active.HasValue)
    {
        <div><b>Статус ТС:</b> @(Model.Active.Value ? "Только активные" : "Только выведенные")</div>
    }
    @if (Model.CarBrand != null)
    {
        <div><b>Марка ТС:</b> @Model.CarBrand.Name</div>
    }
    @if (Model.CarType != null)
    {
        <div><b>Тип ТС:</b> @Model.CarType.Name</div>
    }
    @if (Model.Provider != null)
    {
        <div><b>Установщик:</b> @Model.Provider.Name</div>
    }
    @if (Model.BlockType != null)
    {
        <div><b>Тип Блока:</b> @Model.BlockType.Name</div>
    }
    @if (Model.YearRelease.HasValue)
    {
        <div><b>Год выпуска:</b> @Model.YearRelease.Value</div>
    }
    <div><b>Дата документа:</b> @DateTime.Now.ToDateTimeString()</div>
</div>

<table>
    <thead>
        <tr>
            <th>Номер</th>
            <th>Маршрут</th>

            @if (Model.ShowProjects)
            {
                <th>Перевозчик</th>
            }

            @if (Model.ShowProviders)
            {
                <th>Установщик</th>
            }

            <th>Время посл. отклика</th>
            <th>Время посл. остановки</th>

            @if (Model.ShowBlocks)
            {
                <th>Телефон (IMEI)</th>
                <th>Блок</th>
            }

            <th>Марка ТС</th>

            @if (Model.ShowCarType)
            {
                <th>Тип ТС</th>
            }

            <th>Год выпуска</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model.Vehicles)
        {
        <tr>
            <td>@vehicle.Name</td>
            <td>@(vehicle.Route?.Name ?? Utils.NaString)</td>

            @if (Model.ShowProjects)
            {
                <td>@(vehicle.Project?.Name ?? Utils.NaString)</td>
            }

            @if (Model.ShowProviders)
            {
                <td>@(vehicle.Provider?.Name ?? Utils.NaString)</td>
            }

            <td>@vehicle.LastTime.ToDateTimeString()</td>
            <td>@vehicle.LastStationTime.ToDateTimeString()</td>

            @if (Model.ShowBlocks)
            {
                <td>@(vehicle.Phone > 0 ? vehicle.Phone.ToString() : Utils.NaString)</td>
                <td>
                    @if (vehicle.Block != null)
                    {
                        @vehicle.Block.BlockType?.Name @vehicle.Block.BlockNumber
                    }
                    else
                    {
                        @Utils.NaString
                    }
                </td>
            }

            <td>@(vehicle.CarBrand?.Name ?? Utils.NaString)</td>

            @if (Model.ShowCarType)
            {
                <td>@(vehicle.CarBrand?.CarType?.Name ?? Utils.NaString)</td>
            }

            <td>@(vehicle.YearRelease > 0 ? vehicle.YearRelease.ToString() : Utils.NaString)</td>
            <td>@vehicle.StatusName</td>
        </tr>
        }
    </tbody>
</table>